extends layout

block content
  h1= title
  form(id='icecreamForm', action="/resource/icecream", method="POST")
    div.form-group
      label.icecreamAttr(for='icecream_flavour') icecream type
      input#icecream_flavour(type='text', name='icecream_flavour')
    div.form-group
      label.icecreamAttr(for='icecream_scoops') icecream scoops
      input#icecream_scoops(type='text', name='icecream_scoops')
    div.form-group
      label.icecreamAttr(for='icecream_cost') icecream cost
      input#icecream_cost(type='number', name='icecream_cost')
    input(type="submit")
  script.
    document.forms['icecreamForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
