extends layout

block content
  div.container
    h1= title
    h2= message
    br
    form(role='form', action="/login", method="post", style='max-width: 300px;')
      div.form-group
        input.form-control(type='text', name="username", placeholder='Enter Username')
      div.form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
